.App {
  text-align: center;
}

/* BLOG */

.create-blog-button {
  text-align: center;
  padding: 1em;
  margin-top: 3em;
  margin-left: 3em;
}

.blog-header {
    text-align: center;
    font-weight: bolder;
    font-size:  30px;
}

.diary-entry-container{
  display: block;
  margin-left: auto;
  margin-right: auto;
  text-align: center;
  border-style: solid;
  margin-bottom: 2em;
  width: 60%;
   box-shadow: 0 0 10px 4px rgba(63, 62, 62, 0.521);
 

}

.blog-ul {
    list-style-type: none;
    padding: 0;
    margin: 0;

}


.blog-title {
  text-align: center;
  padding: 2em;
  font-weight: bold;
  transition: 0.4s;
}

.blog-title:hover {
  color: #ff6600;
}

.blog-description {
  text-align: center;
  padding-bottom: 2em;
}

.diary-btn-container {
  display: flex;
  justify-content: center;
  text-align: center;
  padding-bottom: 2em
}

.link-to-single-blog {
  text-decoration: none;
  color: black;
}

.view-diary-entry {
  text-align: center;
  margin-top: 2em;
}

/* AddNewBlog */

.description-box, .description-box-container{
  padding-top: 1em;
  padding-bottom: 2em;
  text-align: center;
}

.submit-thoughts-btn, .submit-thoughts-btn-container{
  text-align: center
}

/* SINGLE BLOG */

.single-blog-title {
  text-align: center;
  font-size: 25px;
  font-weight: bold;
  padding: 2em;
  transition: 0.4s;
}

.single-blog-description {
  text-align: center;
  padding-bottom: 2em;
}

 .single-blog-container {
    display: block;
    margin: 3em auto 2em auto;
    text-align: center;
    border-style: solid;
    width: 60%;
    box-shadow: 0 0 10px 4px rgba(63, 62, 62, 0.521);
 
}

.single-blog-back-btn {
  padding: 1em;
  margin-top: 3em;
  margin-left: 3em;
}

/* FOOD */

.foods-ul {
  list-style-type: none;
}

.food-title {
  text-align: center;
  padding-bottom: 0.1em;
}

.food-item {
  text-align: center;
  padding-bottom: 1em;
}

/* FLARE */

.flare-ul {
  list-style-type: none;
}

.flare-title, .flare-score {
  text-align: center;
  padding-bottom: 0.1em;
}

.flares-container {
  display: block;
  margin-left: 2em;
  border-style: solid;
  margin-bottom: 2em;
  width: 20%;
  box-shadow: 0 0 10px 4px rgba(63, 62, 62, 0.521);
 
}

.flare-scoring-title {
  margin-left: 0.1em;
  padding-top: 0.5em;
  padding-left: 2em;
}

.body-li {
  margin-bottom: 0.5em;
}

.food-container {
  display: block;
  text-align: right;
  margin-left: 2em;
  border-style: solid;
  margin-bottom: 2em;
  width: 50%;
  box-shadow: 0 0 10px 4px rgba(63, 62, 62, 0.521);
}

.column_one {
  float: left;
  width: 33.3%;
  
}

.column_two {
  float: right;
  width: 66.6%;
  text-align: right;
}

/*.App-header {*/
/*  background-color: #282c34;*/
/*  min-height: 100vh;*/
/*  display: flex;*/
/*  flex-direction: column;*/
/*  align-items: center;*/
/*  justify-content: center;*/
/*  font-size: calc(10px + 2vmin);*/
/*  color: white;*/
/*}*/
